In [1]:
print('세 정수의 최대값을 구합니다')

세 정수의 최대값을 구합니다

In [2]:
a = int(input('정수 a의 값을 입력하세요.:'))

정수 a의 값을 입력하세요.:1

In [3]:
b = int(input('정수 b의 값을 입력하세요.:'))
c = int(input('정수 c의 값을 입력하세요.:'))

정수 b의 값을 입력하세요.:2
정수 c의 값을 입력하세요.:3

In [6]:
maximum = a

In [7]:
if b > maximum: maximum = b

In [8]:
if c > maximum: maximum = c

In [9]:
print(f'최대값은 {maximum}입니다.')

최대값은 3입니다.

In [10]:
print('이름을 입력 하세요.:',end='')

이름을 입력 하세요.:

In [11]:
name = input()

In [12]:
print('이름을 입력 하세요.:', end='')
name = input()

이름을 입력 하세요.:남효연

In [13]:
print(f'안녕하세요? {name} 님.')

안녕하세요? 남효연 님.

In [14]:
int(17)

17

In [15]:
int('0b110',2)

6

In [16]:
int('0o75',8)

61

In [17]:
int('13',10)

13

In [18]:
int('0x3F', 16)

63

In [19]:
float('3.14')

3.14

In [20]:
def max3(a,b,c):
    maximum = a
    if b> maximum: maximum = b
    if c> maximum: maxmum = c
    return maximum

In [21]:
print(f'max3(3,2,1) = {max(3,2,1)}')

max3(3,2,1) = 3

In [22]:
print(f'max3(5,2,6) = {max(5,2,6)}')

max3(5,2,6) = 6

In [23]:
def med3(a,b,c):
    if (b>=a and c<=a) or (b<=a and c>=a):
        return a
    elif (a>b and c<b) or (a<b and c>b):
        return b
    return c

In [24]:
med3(1,2,3)

2

In [25]:
n = int(input('정수를 입력하세요.:'))

정수를 입력하세요.:1

In [26]:
if n > 0:
    print('이 수는 양수입니다.')

이 수는 양수입니다.

In [29]:
print('1부터 n까지 정수의 합을 구합니다.')
n = int(input('n값을 입력하세요.:'))

sum = 0
i = 1

while i <= n:
    sum+=i
    i+=1
    
print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.:10
1부터 10까지 정수의 합은 55입니다.

In [30]:
print('1부터 n까지 정수의 합을 구합니다.')
n = int(input('n값을 입력하세요.:'))

sum = 0
for i in range(1, n+1):
    sum +=i
    
print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요.:10
1부터 10까지 정수의 합은 55입니다.

In [32]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요.:'))
b = int(input('정수 b를 입력하세요.:'))

if a>b :
    a,b = b,a #a와 b를 오름차순으로 정렬
    
sum = 0
for i in range(a,b+1):
    sum += i
    
print(f'{a} 부터 {b}까지 정수의 합은 {sum}입니다.')

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.:1
정수 b를 입력하세요.:2
1 부터 2까지 정수의 합은 3입니다.

In [34]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요.:'))
b = int(input('정수 b를 입력하세요.:'))

if a>b :
    a,b = b,a #a와 b를 오름차순으로 정렬
    
sum = 0
for i in range(a,b+1):
    if i < b:
        print(f'{i} +',end='')
    else :
        print(f'{i} =',end='')
    sum +=i
    
print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요.:1
정수 b를 입력하세요.:5
1 +2 +3 +4 +5 =15

In [10]:
print('*를 출력합니다.')
n = int(input('몇 개를 출력할까요?:'))
w = int(input('몇 개마다 줄바꿈할까요?:'))

for i in range(n):
    print('*', end='')
    if i % w == w-1:
        print()
if n%w:
    print(f'{n%w}')
    print()
print('끝')

*를 출력합니다.
몇 개를 출력할까요?:15
몇 개마다 줄바꿈할까요?:5
*****
*****
*****
끝

In [16]:
n = int(input('몇 개를 출력할까요?:'))
w = int(input('몇 개마다 줄바꿈 할까요?:'))

for _ in range(n//w):
    print('*' * w)
    
rest = n%w

if rest :
    print('*' * rest)

몇 개를 출력할까요?:14
몇 개마다 줄바꿈 할까요?:5
*****
*****
****

In [18]:
print('1부터 n까지 정수의 합을 구합니다.')

while True:
    n = int(input('n값을 입력하세요:'))
    if n > 0:
        break

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요:-1
n값을 입력하세요:-2
n값을 입력하세요:3

In [2]:
area = int(input('직사각형이 넓이를 입력하세요.:'))

for i in range(1, area+1):
    if i*i > area: break
    if area % i : continue
    print(f'{i}*{area // i}')

직사각형이 넓이를 입력하세요.:33
1*33
3*11

In [4]:
import random

n = int(input('난수의 개수를 입력하세요: '))

for _ in range(n):
    r = random.randint(10,99)
    print(r, end=' ')
    if r ==13:
        print('\n프로그램을 중단합니다.')
        break
else:
    print('\n난수 생성을 종료합니다.')

난수의 개수를 입력하세요: 10
48 24 35 39 75 81 52 16 39 27
난수 생성을 종료합니다.

In [5]:
for i in range(1,13):
    if i == 8:
        continue
    print(i, end=' ')
print()

1 2 3 4 5 6 7 9 10 11 12

In [6]:
for i in list(range(1,8)) + list(range(9,13)):
    print(i, end= ' ')
print()

1 2 3 4 5 6 7 9 10 11 12

In [9]:
# 2자리 양수 (10-99) 입력받기
print('2자리 양수를 입력하세요.')

while True:
    no = int(input('값을 입력하세요.:'))
    #if no >= 10 and no <=99:
    if not(no <10 or no >99):
        break
        
print(f'입력받은 양수는 {no} 입니다.')

2자리 양수를 입력하세요.
값을 입력하세요.:100
값을 입력하세요.:50
입력받은 양수는 50 입니다.

In [12]:
# 구구단 곱셈표 출력하기

print('-' * 27)
for i in range(1,10):
    for j in range(1,10):
        print(f'{i*j:3}', end='')
    print()
print('-' * 27)

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------

In [13]:
# 왼쪽 아래가 직각인 이등변 삼각형으로 * 출력하기

print('왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.')
n = int(input('짧은 변의 길이를 입력하세요.: '))

for i in range(n):
    for j in range(i+1):
        print('*', end='')
    print() # 행변경

왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.
짧은 변의 길이를 입력하세요.: 10
*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
# 오른쪽 아래가 직각인 이등변 삼각형으로 * 출력하기

print('오른쪽 아래가 직각인 이등변 삼각형을 출력합니다.')
n = int(input('짧은 변의 길이를 입력하세요.:'))

for i in range(n):
    for _ in range(n-i-1):
        print(' ', end='')
    for _ in range(i+1):
        print('*', end='')
    print()

오른쪽 아래가 직각인 이등변 삼각형을 출력합니다.
짧은 변의 길이를 입력하세요.:10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [16]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [26]:
n = 17

In [27]:
id(17)

4336806752

In [28]:
id(n)

4336806752

In [29]:
n = 18

In [30]:
id(n)

4336806784

In [33]:
# 함수 내부, 외부에서 정의한 변수와 객체으 식별 번호를 출력하기
n =1 # 전역 변수(함수 내부, 외부에서 사용)
def put_id():
    x = 1 # 지역변수(함수 내부에서만 사용)
    print(f'id(x) = {id(x)}')
    
print(f'id(1) = {id(1)}')
print(f'id(n) = {id(n)}')
put_id()

id(1) = 4336806240
id(n) = 4336806240
id(x) = 4336806240

In [34]:
# 1부터 100까지 반복하여 출력하기
for i in range(1,101):
    print(f'i = {i:3} id(i) = {id(i)}')

i =   1 id(i) = 4336806240
i =   2 id(i) = 4336806272
i =   3 id(i) = 4336806304
i =   4 id(i) = 4336806336
i =   5 id(i) = 4336806368
i =   6 id(i) = 4336806400
i =   7 id(i) = 4336806432
i =   8 id(i) = 4336806464
i =   9 id(i) = 4336806496
i =  10 id(i) = 4336806528
i =  11 id(i) = 4336806560
i =  12 id(i) = 4336806592
i =  13 id(i) = 4336806624
i =  14 id(i) = 4336806656
i =  15 id(i) = 4336806688
i =  16 id(i) = 4336806720
i =  17 id(i) = 4336806752
i =  18 id(i) = 4336806784
i =  19 id(i) = 4336806816
i =  20 id(i) = 4336806848
i =  21 id(i) = 4336806880
i =  22 id(i) = 4336806912
i =  23 id(i) = 4336806944
i =  24 id(i) = 4336806976
i =  25 id(i) = 4336807008
i =  26 id(i) = 4336807040
i =  27 id(i) = 4336807072
i =  28 id(i) = 4336807104
i =  29 id(i) = 4336807136
i =  30 id(i) = 4336807168
i =  31 id(i) = 4336807200
i =  32 id(i) = 4336807232
i =  33 id(i) = 4336807264
i =  34 id(i) = 4336807296
i =  35 id(i) = 4336807328
i =  36 id(i) = 4336807360
i =  37 id(i) = 4336807392
i =  38 id(i) = 4336807424
i =  39 id(i) = 4336807456
i =  40 id(i) = 4336807488
i =  41 id(i) = 4336807520
i =  42 id(i) = 4336807552
i =  43 id(i) = 4336807584
i =  44 id(i) = 4336807616
i =  45 id(i) = 4336807648
i =  46 id(i) = 4336807680
i =  47 id(i) = 4336807712
i =  48 id(i) = 4336807744
i =  49 id(i) = 4336807776
i =  50 id(i) = 4336807808
i =  51 id(i) = 4336807840
i =  52 id(i) = 4336807872
i =  53 id(i) = 4336807904
i =  54 id(i) = 4336807936
i =  55 id(i) = 4336807968
i =  56 id(i) = 4336808000
i =  57 id(i) = 4336808032
i =  58 id(i) = 4336808064
i =  59 id(i) = 4336808096
i =  60 id(i) = 4336808128
i =  61 id(i) = 4336808160
i =  62 id(i) = 4336808192
i =  63 id(i) = 4336808224
i =  64 id(i) = 4336808256
i =  65 id(i) = 4336808288
i =  66 id(i) = 4336808320
i =  67 id(i) = 4336808352
i =  68 id(i) = 4336808384
i =  69 id(i) = 4336808416
i =  70 id(i) = 4336808448
i =  71 id(i) = 4336808480
i =  72 id(i) = 4336808512
i =  73 id(i) = 4336808544
i =  74 id(i) = 4336808576
i =  75 id(i) = 4336808608
i =  76 id(i) = 4336808640
i =  77 id(i) = 4336808672
i =  78 id(i) = 4336808704
i =  79 id(i) = 4336808736
i =  80 id(i) = 4336808768
i =  81 id(i) = 4336808800
i =  82 id(i) = 4336808832
i =  83 id(i) = 4336808864
i =  84 id(i) = 4336808896
i =  85 id(i) = 4336808928
i =  86 id(i) = 4336808960
i =  87 id(i) = 4336808992
i =  88 id(i) = 4336809024
i =  89 id(i) = 4336809056
i =  90 id(i) = 4336809088
i =  91 id(i) = 4336809120
i =  92 id(i) = 4336809152
i =  93 id(i) = 4336809184
i =  94 id(i) = 4336809216
i =  95 id(i) = 4336809248
i =  96 id(i) = 4336809280
i =  97 id(i) = 4336809312
i =  98 id(i) = 4336809344
i =  99 id(i) = 4336809376
i = 100 id(i) = 4336809408

In [1]:
print("hello")

hello