In [1]:
a = 5. # 소수부가 0일때 0을 생략
a

5.0

In [2]:
a = 1e9 # 10억 지수
a

1000000000.0

In [3]:
b = 1e8 # 1억 지수 표현
b

100000000.0

In [4]:
# 컴퓨터는 2진수 체계이기 때문에 실수 덧셈을 정확히 하지 못한다. 보통 5째 자리에서 반올림
a = 0.3 + 0.6
a

0.8999999999999999

In [5]:
print(round(a, 4))

0.9

In [6]:
a = 7
b = 3

In [7]:
#나누기
a / b

2.3333333333333335

In [8]:
#나머지 
a % b

1

In [9]:
#몫
a//b

2

In [10]:
#거듭 연산자
a ** b # a의 b승

343

# 자료형 - 리스트

In [12]:
a = []

In [15]:
# 크기가 N이고 모든 값이 0인 1차원 리스트 초기화
n = 10
a= [0] * n
a

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
# 리스트 컴프리핸션
array = [i*i for i in range(1,10)]

In [17]:
array

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# N * M 크기의 2차원 리스트 초기화 (3행 4열)
n = 3
m = 4
array = [[0]*m for _ in range(n)]

In [21]:
array

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [22]:
# 특정 크기의 2차원 리스트를 초기화 할 때는 반드시 리스트 컴프리핸션을 사용
array2 = [[0]*m]*n

In [23]:
array[1][1] = 5
array2[1][1] = 5

In [24]:
array

[[0, 0, 0, 0], [0, 5, 0, 0], [0, 0, 0, 0]]

In [25]:
array2 # 내부적으로 3개의 리스트가 모두 동일한 객체에 대한 3개의 레퍼런스로 인식

[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

In [26]:
# 리스트 관련 기타 메서드
a = [1,4,3]

In [27]:
# 리스트 오름차순 정렬
a.sort()
a

[1, 3, 4]

In [30]:
# 리스트 내림차순 정렬
a.sort(reverse = True)
a

[4, 3, 1]

In [31]:
# 리스트 원소 뒤집기
a.reverse()
a

[1, 3, 4]

In [32]:
# 특정 인덱스에 데이터 추가
a.insert(2,3) # 인덱스 2에 3 추가
a

[1, 3, 3, 4]

In [33]:
# 특정 값인 데이터 개수 세기
a.count(3)

2

In [34]:
# 특정 값 데이터 삭제 (인덱스가 낮은 것 하나)
a.remove(3)
a

[1, 3, 4]

In [35]:
# 특정 값을 갖는 원소를 삭제하려면?
# 시간 복잡도를 고려해서 remove는 사용하지 않는 것을 추천
a = [1,2,3,4,5,5,5]
remove_set = {3,5}

# remove_set 에 포함되지 않은 것만 저장
result = [i for i in a if i not in remove_set]

In [36]:
result

[1, 2, 4]

# 자료형-문자열

In [38]:
data = 'hello world'
data

'hello world'

In [43]:
data = "don't you know \"python\"?"

In [44]:
data

' don\'t you know "python"?'

In [45]:
# 문자열 연산
a = "hello"
b = "world"

In [46]:
a + " " + b

'hello world'

In [47]:
a * 3

'hellohellohello'

In [49]:
# 파이썬 문자열은 내부적으로 리스트와 같이 처리 (인덱싱, 슬라이싱) 사용 가능
a = "abcdef"
a[2:4]

'cd'

# 자료형 - 튜플

In [51]:
# 튜플은 한번 선언된 값을 변경할 수 없다.
# 리스트는 대괄호[]를 이용하지만, 튜플은 소괄호()를 이용한다
# 그래프 알고리즘 구현할 때 자주 사용, 다익스트라 최단 경로 알고리즘 (우선순위 큐 사용)
# (비용,노드번호) 형태로 튜플을 묶어서 관리한다.

In [52]:
a = (1,2,3,4)

# 자료형 - 딕셔너리

In [53]:
data = dict()
data['사과'] = 'apple'
data['바나나'] = 'banana'
data['코코넛'] = 'coconut'

In [54]:
key_list = data.keys() # 키 데이터만 담은 리스트, 데이터 타입 = dict_keys

In [61]:
list = []
list = key_list

In [62]:
list

dict_keys(['사과', '바나나', '코코넛'])

In [63]:
for key in key_list:
    print(key)
    
for key in key_list:
    print(data[key])

사과
바나나
코코넛
apple
banana
coconut

# 자료형 = set(중복허용 하지 않음)

In [64]:
# 중복을 허용하지 않는다, 순서가 없다, 특정한 데이터가 이미 등장한 적 있는 지 여부 체크할 때 효과 적

In [65]:
# 집합 자료형 초기화 방법
data = set([1,1,2,3,3,4,5])

In [66]:
data

{1, 2, 3, 4, 5}

In [67]:
data.add(7)
data

{1, 2, 3, 4, 5, 7}

In [68]:
data.add(1)

In [69]:
data # 중복 허용하지 않기 때문에, 1이 추가 되어도 set 은 그대로

{1, 2, 3, 4, 5, 7}

In [70]:
# 새로운 원소 여러 개 추가
data.update([8,9])
data

{1, 2, 3, 4, 5, 7, 8, 9}

In [71]:
# 특정한 값을 갖는 원소 삭제
data.remove(3)
data

{1, 2, 4, 5, 7, 8, 9}

In [72]:
# 합집합, 교집합, 차집합 연산
a = set([1,2,3,4,5])
b = {3,4,5,6,7}

In [73]:
a | b # 합집합

{1, 2, 3, 4, 5, 6, 7}

In [74]:
a & b # 교집합

{3, 4, 5}

In [75]:
a-b # 차집합

{1, 2}

# 조건문

In [77]:
# 조건문 작성은 if elif else 문 활용

In [ ]:
# 비교 연산자
x == y
x != y
x > y
x < y
x >= y
x <= y

In [ ]:
# 논리 연산자
x and y
x or y
not x # x 가 거짓일 때 참이다.

In [ ]:
# 파이썬의 기타 연산자
# 파이썬에서는 추가적으로 in 연산자와 not in 연산자를 제공한다
# 자료형 (리스트, 튜플, 문자열, 사전) 에 사용 된다.
# pass 문 (조건문의 값이 참이라고 해도 아무것도 처리하고 싶지 않을 때)
# 조건부 표현식을 이용하면 if-else 한줄에 작성해 사용할 수 있다.
# 리스트에 있는 원소의 값을 변경해서 또 다른 리스트를 만들고자 할 때 매우 간결하게 사용가능

In [79]:
a = [1,2,3]
3 in a

True

In [80]:
3 not in a

False

In [81]:
score = 85
if score >= 80:
    pass
else:
    print('성적이 80점 미만입니다.')

In [84]:
# 1줄일 경우 줄이기
if score >= 80 : result = 'success'
else : result = 'fail'
        
result

'success'

In [85]:
# 조건 부 표현 식
result = 'success' if score >= 80 else 'fail'

result

'success'

In [86]:
# 리스트에 있는 원소의 값을 변경해서 또 다른 리스트를 만들고자 할 때
a = [1,2,3,4,5,5,5,5]
remove_set = {3,5}

result = []
for i in a:
    if i not in remove_set:
        result.append(i)
        
result

[1, 2, 4]

In [87]:
result = [i for i in a if i not in remove_set]
result

[1, 2, 4]

In [88]:
# while 문
i = 1
result = 0
while i <= 9 :
    result += i
    i += 1
    
print(result)

45

In [89]:
# for 문
# range, continue, break

result = 0
for i in range(1,10):
    result += i

print(result)

45

In [90]:
scores = [90,85,77,65,97]
cheating_list = {2,4}
for i in range(len(scores)):
    if i+1 in cheating_list:
        continue # 참이면 그 다음 아래 소스코드 실행, 거짓이면 다음 단계 넘어 감
    if scores[i] >= 80:
        print(i+1, '번 학생은 합격입니다.')

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

# 함수

In [92]:
def add(a,b):
    return a+b

print(add(3,7))

10

In [93]:
# 매개변수를 직접 지정해 줄 수도 있다.
add(b=3, a=7)

10

# global

In [95]:
# 함수 안에서 함수 밖의 변수 데이터를 변경해야 하는 경우
a = 0
def func():
    global a
    a+= 1

In [96]:
for i in range(10):
    func()

In [97]:
a

10

# 람다 표현식

In [99]:
# 특정한 기능을 수행하는 함수를 한줄에 작성할 수 있다.
# 람다식은 파이썬의 정렬 라이브러리를 사용할 때, 정력 기준(key)을 설정할 때도 자주 사용

In [100]:
def add(a,b):
    return a+b

In [101]:
# 람다 표현식으로 구현한 add() 메서드
print((lambda a,b : a+b)(3,7))

10

# 입출력

In [104]:
# 데이터의 개수 입력
n = int(input())

10

In [105]:
n, m, k = map(int, input().split())

1 2 3

# 출력

In [107]:
answer = 7
print(f"정답은 {answer} 입니다.")

정답은 7 입니다.

# 주요 라이브러리 문법과 유의점

In [109]:
# 1. 내장함수
# print(), input() 과 같은 기본 입출력 기능 부터, sorted() 와 같은 정렬 기능을 포함하고 있는 내장 라이브러리

In [110]:
result = [1,2,3,4,5]

In [111]:
sum(result) #iterable 객체가 들어왔을 때

15

In [112]:
min(result)

1

In [113]:
max(result)

5

In [114]:
result = eval("(3+5)*7")
result

56

In [115]:
a = [9,1,8,5,4]

In [116]:
result = sorted(a)
result

[1, 4, 5, 8, 9]

In [117]:
a # 기존 객체는 변경되지 않으며, return 값이 존재

[9, 1, 8, 5, 4]

In [118]:
result = sorted(a, reverse=True)
result

[9, 8, 5, 4, 1]

In [119]:
a.sort() # void 문 result 가 변경

In [1]:
data = [('홍길동',35),('이순신',17),('아무개',88)]

In [2]:
result = sorted(data, key=lambda x:x[1], reverse=True)

In [3]:
result

[('아무개', 88), ('홍길동', 35), ('이순신', 17)]

In [4]:
data.sort(key=lambda x:x[1], reverse=True)

In [5]:
data

[('아무개', 88), ('홍길동', 35), ('이순신', 17)]

In [6]:
data = ["23","59","59"]
print(":".join(data))

23:59:59

In [7]:
# 2. itertools
# 파이썬에서 반복되는 형태의 데이터 처리하는 기능을 제공하는 라이브러리,
# 순열과 조합 라이브러리를 제공

# permutation (순열)
# combinations (조합)
# product (중복을 허용하는 순열)
# combinations_with_replacemnet (중복을 허용하는 모든 조합)

In [9]:
from itertools import permutations, combinations, product

In [10]:
from itertools import combinations_with_replacement

In [11]:
data = ['a','b','c']

In [12]:
list(data)

['a', 'b', 'c']

In [13]:
# 리스트에서 3개를 뽑아 나열하는 모든 경우를 출력
result = permutations(data,3)

In [15]:
list(result)

[('a', 'b', 'c'),
 ('a', 'c', 'b'),
 ('b', 'a', 'c'),
 ('b', 'c', 'a'),
 ('c', 'a', 'b'),
 ('c', 'b', 'a')]

In [16]:
# 2개를 뽑는 모든 조합 구하기
result = list(combinations(data,2))
result

[('a', 'b'), ('a', 'c'), ('b', 'c')]

In [17]:
result = list(product(data, repeat=2)) # 2개를 뽑는 모든 순열 구하기 (중복허용)
result

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('b', 'a'),
 ('b', 'b'),
 ('b', 'c'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'c')]

In [20]:
result = list(combinations_with_replacement(data,2)) # 2개를 뽑는 모든 조합 구하기 (중복허용)
result

[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'b'), ('b', 'c'), ('c', 'c')]

In [21]:
# 3. heapq
# 힙(heap) 기능을 제공하는 라이브러리, 우선순위 큐 기능을 구현하기 위해 사용한다.
# 다익스트라 최단 경로 알고리즘등에서 우선순위 큐 기능을 구현하고자 할 때 사용
# priorityqueue 라이브러리를 사용할 수 있지만 코딩테스트 환경에서는 heapq 가 더 빠르게 동작

# 최소 힙(min heap)으로 구성되어 있으므로 넣었다 빼는 것만으로 O(NlogN) 에 오름차순 정렬이 완료 된다.
# 보통 최소 힙 자료구조의 최상단 원소는 항상 가장 작은 원소이기 때문이다.
# heapq.heappush() 삽입
# heapq.heappop() 꺼냄

In [22]:
# 힙정렬 (heap sort) 을 heapq로 구현하는 예제
import heapq

In [23]:
def heapsort(iterable) :
    h = []
    result = []
    
    # 모든 원소를 차례대로 힙에 삽입
    for value in iterable:
        heapq.heappush(h,value)
        
    for i in range(len(h)) :
        result.append(heapq.heappop(h))
    return result

In [24]:
result = heapsort([1,3,5,7,9,2,4,6,8,0])

In [25]:
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# 부호를 사용하여 최대 힙(max heap) 구현
def heapsort2(iterable):
    h = []
    result = []
    
    for value in iterable:
        heapq.heappush(h,-value)
        
    for i in range(len(h)):
        result.append(-heapq.heappop(h))
    return result

In [29]:
result = heapsort2([1,3,5,7,9,2,4,6,8,0])
result

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [30]:
# 4. bisect
# 이진탐색/이분탐색(binary search) 기능을 제공하는 라이브러리
# 이진탐색을 쉽게 구현할 수 있도록 하는 라이브러리
# '정렬된 배열'에서 특정한 원소를 찾아야 할 때 매우 효과적으로 사용
# bisect_left(a,x)
# 정렬된 순서를 유지하면서 리스트 a 에 데이터 x 를 삽입할 가장 왼쪽 인덱스를 찾는 메서드
# bisect_right(a,x)
# 정렬된 순서를 유지하면서 리스트 a에 데이터 x 를 삽입할 가낭 오른쪽 인덱스를 찾는 메서드
# 정렬된 리스트에서 값이 특정 범위에 속하는 원소의 개수를 구하고자 할 때 사용

In [31]:
from bisect import bisect_left, bisect_right

In [32]:
a = [1,2,4,4,8]
x = 4

In [33]:
print(bisect_left(a,x))

2

In [34]:
print(bisect_right(a,x))

4

In [35]:
# 정렬된 리스트 에서 값이 특정 범위에 속하는 원소의 개수를 구하고자 할 때 사용

In [36]:
def count_by_range(a, left_value, right_value):
    right_index = bisect_right(a,right_value)
    left_index = bisect_left(a,left_value)
    return right_index - left_index

In [37]:
a = [1,2,3,3,3,3,4,4,8,9]

In [38]:
# 값이 4인 데이터 개수 출력
print(count_by_range(a,4,4))

2

In [39]:
# 값이 [-1,3] 범위에 있는 데이터 개수 출력
print(count_by_range(a,-1,3))

6

In [40]:
# 5. collections
# 덱(deque), 카운터(counter) 등의 유용한 자료구조를 포함하고 있는 라이브러리

# queue 알고리즘 (deque 활용하기)

In [41]:
from collections import deque

In [43]:
que = deque()

In [45]:
que.append(5)

In [46]:
que.append(4)
que.append(3)
que.append(2)
que.append(1)

In [47]:
que

deque([5, 4, 3, 5, 4, 3, 2, 1])

In [48]:
que.pop()

1

In [49]:
que

deque([5, 4, 3, 5, 4, 3, 2])

In [51]:
que.popleft()

5

In [52]:
que

deque([4, 3, 5, 4, 3, 2])

In [53]:
que.reverse()

In [54]:
que

deque([2, 3, 4, 5, 3, 4])

# stack 알고리즘 (리스트 활용)

In [57]:
stack = []

In [58]:
stack.append(5)
stack.append(4)
stack.append(3)
stack.append(2)
stack.append(1)

In [59]:
# 최하단 원소부터 출력
stack

[5, 4, 3, 2, 1]

In [60]:
# 최상단 원소부터 출력
print(stack[::-1])

[1, 2, 3, 4, 5]

# Counter 사용

In [62]:
import collections

In [63]:
list = ['a','a','b','b','c']

In [64]:
a = collections.Counter(list)

In [65]:
a['b']

2

In [ ]:
# 6. math
# 필수적인 수학적 기능을 제공하는 라이브러리
# 팩토리얼, 제곱근, 최대공약수(GCD), 삼각함수, 파이(pi)

In [66]:
import math

In [67]:
print(math.factorial(5)) # 5!

120

In [68]:
print(math.sqrt(7)) # 7의 제곱근

2.6457513110645907

In [ ]:
prin